project_id = "wrodvaatdujbpfpvrzge"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
ip_version = "IPv6"
max_header_length = 4096

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1:54321"
openai_api_key = "env(OPENAI_API_KEY)"

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true
file_size_limit = "50MiB"

[storage.image_transformation]
enabled = true

[auth]
enabled = true
site_url = "https://0815560b-83d3-424c-9aae-2424e8359352.lovableproject.com"
additional_redirect_urls = ["https://0815560b-83d3-424c-9aae-2424e8359352.lovableproject.com"]
jwt_expiry = 3600
enable_signup = true
enable_anonymous_sign_ins = false

[auth.external.google]
enabled = true
client_id = "env(GOOGLE_CLIENT_ID)"
secret = "env(GOOGLE_CLIENT_SECRET)"
redirect_uri = "https://wrodvaatdujbpfpvrzge.supabase.co/auth/v1/callback"

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false
# Email auth disabled - SSO/SAML only

[auth.sms]
enable_signup = false
enable_confirmations = false
template = "Your code is {{ .Code }}"



[analytics]
enabled = false
port = 54328
vector_port = 54329

[functions.import-csv]
verify_jwt = true